<launch>

  <arg name="UAV_NAME" default="$(env UAV_NAME)"/>
  <arg name="RUN_TYPE" default="$(env RUN_TYPE)" />
  <arg name="PIXGARM" default="$(optenv PIXGARM false)" />
  <arg name="standalone" default="true" />
  <arg name="debug" default="false" />
  <arg name="fcu_frame" default="$(arg UAV_NAME)/fcu" />
  <arg name="fcu_horizontal_frame" default="$(arg UAV_NAME)/fcu_untilted" />
  <arg name="use_realsense" default="true" />

  <arg unless="$(arg debug)" name="launch_prefix" value=""/>
  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch"/>

  <arg name="ignore_mask" default="$(optenv IGNORE_MASK true)" />
  <arg unless="$(arg ignore_mask)" name="mask_filename" value="$(find mrs_bumper)/masks/realsense_f550_mask.bmp"/>
  <arg     if="$(arg ignore_mask)" name="mask_filename" value=""/>

  <arg name="manager" default="detection_nodelet_manager" />
  <arg name="nodelet" value="mrs_bumper/Bumper" />
  <arg unless="$(arg standalone)" name="nodelet_load" value="load $(arg nodelet) $(arg manager)"/>
  <arg     if="$(arg standalone)" name="nodelet_load" value="standalone $(arg nodelet)"/>

  <group ns="$(arg UAV_NAME)">

    <node pkg="nodelet" type="nodelet" name="bumper" args="$(arg nodelet_load)" output="screen" launch-prefix="$(arg launch_prefix)">

      <rosparam file="$(find mrs_bumper)/config/$(arg RUN_TYPE).yaml" />

      <remap if="$(eval arg('RUN_TYPE') == 'simulation' and arg('use_realsense'))" from="~depthmap_in" to="rs_d435/aligned_depth_to_color/image_raw"/>
      <remap if="$(eval arg('RUN_TYPE') == 'uav' and arg('use_realsense'))" from="~depthmap_in" to="rs_d435/aligned_depth_to_color/image_raw"/>

      <remap if="$(eval arg('RUN_TYPE') == 'simulation' and arg('use_realsense'))" from="~depth_cinfo_in" to="rs_d435/aligned_depth_to_color/camera_info"/>
      <remap if="$(eval arg('RUN_TYPE') == 'uav' and arg('use_realsense'))" from="~depth_cinfo_in" to="rs_d435/aligned_depth_to_color/camera_info"/>

      <remap if="$(eval arg('RUN_TYPE') == 'simulation')" from="~lidar_3d_in" to="os1_cloud_node/points"/>
      <remap if="$(eval arg('RUN_TYPE') == 'uav')" from="~lidar_3d_in" to="os1_cloud_node/points"/>

      <remap if="$(eval arg('RUN_TYPE') == 'simulation')" from="~lidar_2d_in" to="rplidar/scan"/>
      <remap if="$(eval arg('RUN_TYPE') == 'uav')" from="~lidar_2d_in" to="rplidar/scan"/>

      <remap if="$(eval arg('RUN_TYPE') == 'simulation')" from="~lidar_1d_down_in" to="garmin/range"/>
      <remap if="$(eval arg('RUN_TYPE') == 'uav' and arg('PIXGARM'))" from="~lidar_1d_down_in" to="mavros/distance_sensor/garmin"/>
      <remap if="$(eval arg('RUN_TYPE') == 'uav' and not arg('PIXGARM'))" from="~lidar_1d_down_in" to="garmin/range"/>

      <remap if="$(eval arg('RUN_TYPE') == 'simulation')" from="~lidar_1d_up_in" to="garmin_up/range"/>
      <remap if="$(eval arg('RUN_TYPE') == 'uav' and arg('PIXGARM'))" from="~lidar_1d_up_in" to="mavros/distance_sensor/garmin_up"/>
      <remap if="$(eval arg('RUN_TYPE') == 'uav' and not arg('PIXGARM'))" from="~lidar_1d_up_in" to="garmin_up/range"/>

      <param name="uav_name" value="$(arg UAV_NAME)" />
      <param name="path_to_mask" value="$(arg mask_filename)" />
      <param name="frame_id" value="$(arg fcu_horizontal_frame)" />

      <remap from="~obstacle_sectors_out" to="~obstacle_sectors" />

    </node>

  </group>

</launch>

