<launch>

  <arg name="UAV_NAME" default="$(env UAV_NAME)"/>
  <arg name="RUN_TYPE" default="$(env RUN_TYPE)" />
  <arg name="standalone" default="true" />
  <arg name="debug" default="false" />
  <arg name="fcu_frame" default="$(arg UAV_NAME)/fcu" />
  <arg name="fcu_horizontal_frame" default="$(arg UAV_NAME)/fcu_untilted" />

  <arg unless="$(arg debug)" name="launch_prefix" value=""/>
  <arg     if="$(arg debug)" name="launch_prefix" value="debug_roslaunch"/>

  <arg     if="$(eval arg('RUN_TYPE') == 'simulation')" name="config_file" value="$(find mrs_bumper)/config/bumper_params_sim.yaml"/>
  <arg unless="$(eval arg('RUN_TYPE') == 'simulation')" name="config_file" value="$(find mrs_bumper)/config/bumper_params_realsense.yaml"/>
  <arg     if="$(eval arg('RUN_TYPE') == 'simulation')" name="depthmap_topic" value="/$(arg UAV_NAME)/realsense/camera/depth/image_raw"/>
  <arg unless="$(eval arg('RUN_TYPE') == 'simulation')" name="depthmap_topic" value="/$(arg UAV_NAME)/rs_d435/aligned_depth_to_color/image_raw"/>
  <arg     if="$(eval arg('RUN_TYPE') == 'simulation')" name="depth_cinfo_topic" value="/$(arg UAV_NAME)/realsense/camera/depth/camera_info"/>
  <arg unless="$(eval arg('RUN_TYPE') == 'simulation')" name="depth_cinfo_topic" value="/$(arg UAV_NAME)/rs_d435/aligned_depth_to_color/camera_info"/>
  <arg     if="$(eval arg('RUN_TYPE') == 'simulation')" name="lidar_2d_topic" value="/$(arg UAV_NAME)/rplidar/scan"/>
  <arg unless="$(eval arg('RUN_TYPE') == 'simulation')" name="lidar_2d_topic" value="/$(arg UAV_NAME)/rplidar/scan"/>
  <arg     if="$(eval arg('RUN_TYPE') == 'simulation')" name="lidar_1d_down_topic" value="/$(arg UAV_NAME)/garmin/range"/>
  <arg unless="$(eval arg('RUN_TYPE') == 'simulation')" name="lidar_1d_down_topic" value="/$(arg UAV_NAME)/garmin/range"/>
  <arg     if="$(eval arg('RUN_TYPE') == 'simulation')" name="lidar_1d_up_topic" value="/$(arg UAV_NAME)/garmin_up/range"/>
  <arg unless="$(eval arg('RUN_TYPE') == 'simulation')" name="lidar_1d_up_topic" value="/$(arg UAV_NAME)/garmin/range_up"/>

  <arg name="ignore_mask" default="$(optenv IGNORE_MASK true)" />
  <arg unless="$(arg ignore_mask)" name="mask_filename" value="$(find mrs_bumper)/masks/realsense_f550_mask.bmp"/>
  <arg     if="$(arg ignore_mask)" name="mask_filename" value=""/>

  <arg name="manager" default="detection_nodelet_manager" />
  <arg name="nodelet" value="mrs_bumper/Bumper" />
  <arg unless="$(arg standalone)" name="nodelet_load" value="load $(arg nodelet) $(arg manager)"/>
  <arg     if="$(arg standalone)" name="nodelet_load" value="standalone $(arg nodelet)"/>

  <group ns="$(arg UAV_NAME)">

    <node pkg="nodelet" type="nodelet" name="bumper" args="$(arg nodelet_load)" output="screen" launch-prefix="$(arg launch_prefix)">

      <param name="uav_name" value="$(arg UAV_NAME)" />
      <param name="path_to_mask" value="$(arg mask_filename)" />
      <param name="frame_id" value="$(arg fcu_horizontal_frame)" />
      <rosparam file="$(arg config_file)" />

      <remap from="~depthmap" to="$(arg depthmap_topic)" />
      <remap from="~depth_camera_info" to="$(arg depth_cinfo_topic)" />
      <remap from="~lidar_2d" to="$(arg lidar_2d_topic)" />
      <remap from="~lidar_1d_down" to="$(arg lidar_1d_down_topic)" />
      <remap from="~lidar_1d_up" to="$(arg lidar_1d_up_topic)" />
      <remap from="~obstacle_sectors" to="~obstacle_sectors" />

    </node>

  </group>

</launch>

